<h2>Home</h2>

<ul>
    <li><a href="/summer_anime">Summer Anime</a></li>
    <li><a href="/spring_anime">Spring Anime</a></li>
    <li><a href="/fall_anime">Fall Anime</a></li>
    <li><a href="/winter_anime">Winter Anime</a></li>
</ul>