<%= render partial: "partials/navbar"%>
<div id="home-container" class="flex-container">
    <% @anime_titles.each do |item|%>
            <%= render partial: "partials/title", locals: {series: item} %>
    <%end%>
</div>