<div class="flex-container">
    <% @anime_titles.each do |item|%>
        <%if item.season == "winter-22"%>
            <%= render partial: "title", locals: {series: item} %>
        <%end%>
    <%end%>
</div>
<br>
<h4> <a href="/home">Back</a> </h4>