*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
#title{
    margin: 0%;
}
#anime-tags{
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid rgba(118,118,118,.1);
}
#anime-tags > li{
    display: inline-block;
    font-size: .7em;
    line-height: 1.6 em;
}
#release{
    border-bottom: 1px solid rgba(118,118,118,.1);
}
#image{
    width: 175px;
    float: left;
    padding: 0% 2% 0% 0%;
}
#description{ 
    height: 172px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: .8em;
    margin: 1% 2% 1% 2%;
}
.card-body{}

/*Fancy Scrolbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}









































































