*{
    margin: 0px;
    padding: 0px;
}
/*Title card css*/
.titleCard{
    margin: 5px;
    width: 30%; 
    box-shadow: 1px 1px 10px #dfe6e9;   
}
.flex-container {
    padding: 2%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}
.flex-child {
    flex: 1;
}  

p#title{
    text-align: center;
}
ol{
    list-style-type: none;
    margin: auto;
    display:table-row;
}
li{
    display: table-cell;
    padding: 0px 5px 5px 5px;
    font-size: .8em;
}
#image{
    width: 175px;
    float: left;
    padding: 0% 2% 0% 0%;
}
#description{ 
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}

#description p{
    font-size: .9em;
    padding: 0% 0% 2% 5%;
}

#links{
    clear: both;
}

/*Fancy Scrolbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}